footer {
    background-color: #F5F9F6;
    color: #6B9080;
    padding: 60px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

footer p {
    font-family: 'Great Vibes', cursive;
    color: #6B9080;
    font-size: 32px;
    margin: 0;
    line-height: 1.5;
    text-shadow: 1px 1px 2px rgba(143, 188, 143, 0.1);
}

footer::before, footer::after {
    content: '';
    position: absolute;
    height: 1px;
    background: linear-gradient(to right, transparent, rgba(143, 188, 143, 0.3), transparent);
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

footer::before {
    top: 0;
}

footer::after {
    display: none;
}

.footer-decoration {
    position: absolute;
    width: 100px;
    height: 100px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%238B5A2B" opacity="0.05"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
    background-color: #A8D8B9;
}

.footer-decoration.left {
    bottom: 20px;
    left: 15%;
    transform: rotate(-15deg);
}

.footer-decoration.right {
    top: 20px;
    right: 15%;
    transform: rotate(15deg);
}

@media (max-width: 768px) {
    footer {
        padding: 40px 20px;
    }
    
    footer p {
        font-size: 26px;
    }
    
    .footer-decoration {
        width: 50px;
        height: 50px;
    }
    
    .footer-decoration.left {
        bottom: 15px;
        left: 10%;
    }
    
    .footer-decoration.right {
        top: 15px;
        right: 10%;
    }
}

@media (max-width: 480px) {
    footer {
        padding: 30px 15px;
    }
    
    footer p {
        font-size: 24px;
    }
    
    .footer-decoration {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 360px) {
    footer p {
        font-size: 22px;
    }
}